#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.EmbreChat{
  position:absolute;
  left:0;
  transform: translate(-50%, 50%);
}

path {
  fill: var(--dark-pink);
}

path:hover{
  fill: var(--light-pink);
  transition: 100ms;
}

.phone-container {
  position: relative;
  width: 440px; 
  height: 800px; /* Adjust to the height of your phone SVG */
  margin: 0 auto;
}

.bubble-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align left-side bubbles to the left */
  justify-content: flex-start;
  gap: 10px; /* Space between stacked bubbles */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.phone {
  width: 100%; /* Makes the phone SVG fill the container */
  height: auto;
}
.bubble-left, .bubble-right {
  width: auto;
  max-width: 40%; /* Prevent the bubble from being too wide */
  padding: 10px 20px;
  background-color: #F4D7E3;
  color: black;
  border-radius: 20px;
  font-size: 16px;
  word-wrap: break-word;
  margin-left: 10px; /* Add margin to the left of left bubbles */
  margin-right: 10px; /* Add margin to the right of right bubbles */
}

.bubble-left {
  align-self: flex-start; /* Align left-side bubble to the left */
}

.bubble-right {
  align-self: flex-end; /* Align right-side bubble to the right */
}

.rs-picker-toggle{
  width: auto;
  left:0;
}

.rs-picker{
  width: 110%;
}

.refrences{
  display: flex;
  width: 33vw;
  height: 15vh;
  background-color: aliceblue;
  overflow: scroll;
  flex-direction: column;
  border-radius: 10px;
}

.hello {
  animation-name: hello;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes hello {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}

/* Ensure Tailwind CSS is installed and configured correctly */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
