:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-purple: #1F0322;
  --light-purple:#AA7DCE;
  --baby-purple:#ba97c5;
  --light-pink:#F4D7E3;
  --m-pink:#e99fac;
  --dark-pink:#A8577E;

  background-color: var(--baby-purple);
  background-image: linear-gradient(135deg, var(--light-purple) 0%, var(--light-pink) 100%);
  color: white;
}

@font-face {
  font-family: "GelicaSemiBold";
  src: url("/fonts/GelicaExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "GelicaRegular";
  src: url("/fonts/GelicaRegular.ttf") format("truetype");
}

@font-face{
  font-family: "GelicaExtraLight";
  src: url("/fonts/GelicaExtraLight.ttf") format("truetype");
}

@font-face{
  font-family: "GelicaBlack";
  src: url("/fonts/GelicaBlack.ttf") format("truetype");
}

a {
  font-weight: 500;
  color: var(--dark-pink);
  text-decoration: inherit;
}
a:hover {
  color: var(--light-pink);
}

body {
  margin: 0;
  display: flex;
  font-family: "GelicaExtraLight";
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-family: "GelicaBlack";
  line-height: 1.1;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-purple);
  cursor: pointer;
  transition: border-color 0.25s;
}


.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;